[submodule "bundle/vim-colors-solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-indentwise"]
	path = bundle/indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise.git
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "bundle/easy-align"]
	path = bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "bundle/targets"]
	path = bundle/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "bundle/nerdree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/closer"]
	path = bundle/closer
	url = https://github.com/rstacruz/vim-closer.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/larval"]
	path = bundle/larval
	url = https://github.com/lag13/vim-larval.git
[submodule "bundle/create-variable"]
	path = bundle/create-variable
	url = https://github.com/lag13/vim-create-variable.git
[submodule "bundle/replace-with-register"]
	path = bundle/replace-with-register
	url = https://github.com/lag13/ReplaceWithRegister.git
[submodule "bundle/games"]
	path = bundle/games
	url = https://github.com/lag13/vim-games.git
[submodule "bundle/screensavers"]
	path = bundle/screensavers
	url = https://github.com/lag13/vim-screensavers.git
