[user]
	email = groenendaal92@gmail.com
[push]
	default = current
[core]
	excludesfile = /Users/lgroenendaal/.gitignore
	# The default mac vim does not support copying to/from the clipboard
	editor = /usr/local/bin/vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
